/************************************
HEADER
*************************************/
#header h1 {
	font-size: 50px;
	padding: 20px 0 20px 0;
}

h1 {
	font-family: 'Changa One', sans-serif;
	margin: 15px 0;
	font-size: 1.75em;
	font-weight: normal;
	line-height: 0.8em;
	color: #ffffff;
}

#header{
	text-decoration: none; 
	letter-spacing: 3px;
	margin: 0 0 0 0;
	padding: 5px 0 0 0;
	width: 100%;	
  	border: 0;
  	text-align: center;
	background-size: contain;
	background-color: #1a1a1a;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#141414+0,333333+100 */
	background: #141414; /* Old browsers */
	background: -moz-linear-gradient(top,  #141414 0%, #333333 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #141414 0%,#333333 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #141414 0%,#333333 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#141414', endColorstr='#333333',GradientType=0 ); /* IE6-9 */
}

#top_bar{
	margin:0;
  	padding: 2px 0 0 0;
  	background-color: #cc0000;
  	border-top: 2px solid #ff0000;
  	border-bottom: 2px solid #990000;
}

#VideoTitle{
	font-size: 40px;
	color: #ffffff;
}

#currVideo{
	box-shadow: 10px 10px 25px 5px #000000;
}

* a {
	text-decoration: none;
	color: #cc0000;
}

a:visited {
	color: #cc0000;
}

body {
	height: 100%;
	font-family: 'Open Sans', sans-serif;
}

html,
body {
   margin:0;
   padding:0;
   height:100%;
}
section {
	background-image: url(MoonShot.jpg);
	margin:0;
	border:0;
	height: 100%;
	text-align: center;
}

#change {
	padding: 0 0 12px 0;	
	border: none;
	outline: none;
}

#GBLink {
	padding: 0 18px 12px 0;	
	border: none;
	outline: none;
}

#resumePause {
	padding: 0 0 0 0;
	border: none;
	outline:none;
	
}

#NOTE {
	color: #ffffff;
}


@media (max-width: 950px) { 
	#currVideo{
		width: 90%;
		height: 50%;
	}
}

@media (max-width: 500px) { 
	#currVideo{
		height: 30%;
	}
	
	#header h1{
		font-size: 30px;
	}
	
	#VideoTitle{
		font-size: 25px;
	}
	#change {
		width: 25%;
	}
	#GBLink {
		width: 25%;
	}

	#resumePause {
		width: 35%;
	}
}